$border_color = #333
$border_radius = 5px
$margin = 5px
$icon_size = 48px

$finsize = 10px

@mixin rounded-border($radius: $border_radius)
  border:
    style: solid
    width: 1px 
    color: $border_color
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius


@mixin colored-status
  &.new
    background-color: #777
  &.ok
    background-color: #247A24
  &.failed
    background-color: #6E1C1C
  &.building
    background-color: #9F9956

body
  background-color: #aaa
  color: #eee
  a
    color: #eee

  #content
    margin: $margin
    ul#projects
      font-family: sans-serif
      list-style: none
      margin: 0
      padding: 0
      .project
        background-color: #555
        @include rounded-border(15px)
        @include colored-status
        margin: 0.5em $margin $margin + $finsize $margin
        padding: 0.7em
        position: relative
        top: 0
        left: 0
        display: block

        &.minimized
          display: none

        &.maximized
          h2
            font-weight: bold

        &.hovered
          left: auto

        h2.name
          font-size: 30px
          float: left
          margin: 5px
          a
            text-decoration: none
        div.status
          margin: 0 0 -5px
          float: right
          width: $icon_size
          img
            width: $icon_size
            height: $icon_size
            &.gravatar
              @include rounded-border(10px)
              border-color: transparent
            &.spinner
              background: white
          div.progress
            position: relative
            div.progress-graph
              position: absolute
              width: 83px
              height: 83px
              z-index: 1
            img.spinner
              position: absolute
              top: 0
              right: 0
              z-index: 2
            div.countdown
              margin-right: 70px

        &:after
          content: ' '
          display: block
          clear: both

        ul.updates
          list-style: none
          position: absolute
          bottom: -12px
          left: -24px
          li
            @include rounded-border(0 5px 0 10px)
            @include colored-status
            width: $finsize
            height: $finsize
            float: left
            margin: 0 2px
            p.status
              text-indent: -5000px
              position: absolute

        div.iframe
          display: none
          position: absolute
          top: $icon_size + 4 * $margin - 1
          bottom: -300px
          left: 2 * $margin
          right: 2 * $margin
          background: inherit
          @include rounded-border(0 0 5px 5px)
          padding: 4 * $margin $margin $margin
          border-top: 0
          iframe
            width: 100%
            height: 100%
            border: 0

            

